NODE_ENV=development

POSTGRES_DB=quanlykho
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=

JWT_SECRET=

BACKEND_PORT=3000
FRONTEND_PORT=5173
